# Setup
## Importing Libraries

In [1]:
from sqlalchemy import create_engine
import pandas as pd

## Logging into the Database

In [2]:
# create_engine('postgresql://<username>:<password>@<host>:<port>/<database>')
engine = create_engine('postgresql://test:test@localhost:5432/team3')

## Defining Table Classes

In [3]:
#Define Our Classes
from sqlalchemy import Column, Integer, Numeric, String, Date, ForeignKey, CheckConstraint
from sqlalchemy.orm import declarative_base

Base = declarative_base()

class Stadium(Base):
    __tablename__ = 'stadium'
    name = Column(String(50))
    city = Column(String(50), primary_key=True)
    state = Column(String(2), primary_key=True) 
    address = Column(String(50))
    capacity = Column(Integer)
    turf_type = Column(String(50)) 
    __table_args__ = {'extend_existing': True}


class Team(Base):
    __tablename__ = 'team'
    mascot = Column(String(50), primary_key=True)
    location = Column(String(50))
    coach = Column(String(50))
    home_city = Column(String(50), ForeignKey(Stadium.city))
    home_state = Column(String(2), ForeignKey(Stadium.state))
    division = Column(String(50))
    wins = Column(Integer)
    losses = Column(Integer)
    standing = Column(Integer)
    __table_args__ = {'extend_existing': True}


class Player(Base):
    __tablename__ = 'player'
    id = Column(String(8), primary_key=True)
    name = Column(String(50))
    team = Column(String(50), ForeignKey(Team.mascot))
    height = Column(String(4))
    weight = Column(Numeric(3, 0))
    age = Column(Numeric(2, 0))
    position = Column(String(3))
    jersey = Column(Numeric(2,0))
    birth_date = Column(String(10)) 
    years_played = Column(Integer) 
    college = Column(String(50))
    __table_args__ = {'extend_existing': True}


class Season(Base):
    __tablename__ = 'season'
    year = Column(Numeric(4, 0), primary_key=True)
    start_date = Column(Date)
    end_date = Column(Date)
    __table_args__ = {'extend_existing': True}
    
    
class Game(Base):
    __tablename__ = 'game'
    game_id = Column(String(12), primary_key=True)
    season_year = Column(Numeric(4, 0), ForeignKey(Season.year))
    week = Column(String(9))
    game_date = Column(Date)
    home_team = Column(String(50), ForeignKey(Team.mascot)) 
    away_team = Column(String(50), ForeignKey(Team.mascot)) 
    home_score = Column(Integer)
    away_score = Column(Integer) 
    __table_args__ = {'extend_existing': True}


class Offense_Game_Stats(Base):
    __tablename__ = 'offense_game_stats'
    player_id = Column(String(8), ForeignKey(Player.id), primary_key=True)
    game_id = Column(String(12), ForeignKey(Game.game_id), primary_key=True)
    passing_completions = Column(Integer)
    passing_attempts = Column(Integer)
    passing_yards = Column(Integer)
    rushing_attempts = Column(Integer)
    rushing_yards = Column(Integer)
    fumbles = Column(Integer)
    __table_args__ = {'extend_existing': True}
    

class Defense_Game_Stats(Base):
    __tablename__ = 'defense_game_stats'
    player_id = Column(String(8), ForeignKey(Player.id), primary_key=True)
    game_id = Column(String(12), ForeignKey(Game.game_id), primary_key=True)
    tackles = Column(Integer)
    sacks = Column(Integer)
    fumbles_recovered = Column(Integer)
    interceptions = Column(Integer)
    passes_defended = Column(Integer)
    __table_args__ = {'extend_existing': True}


class Special_Game_Stats(Base):
    __tablename__ = 'special_game_stats'
    player_id = Column(String(8), ForeignKey(Player.id), primary_key=True)
    game_id = Column(String(12), ForeignKey(Game.game_id), primary_key=True)
    field_goals = Column(Integer)
    fg_attempts = Column(Integer)
    extra_points = Column(Integer)
    ep_attempts = Column(Integer)
    punts = Column(Integer)
    punt_yards = Column(Integer)
    __table_args__ = {'extend_existing': True}

## Importing Data from Database

In [4]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

# _data are lists of row objects
stadiums_data = session.query(Stadium).all()
teams_data = session.query(Team).all()
players_data = session.query(Player).all()
seasons_data = session.query(Season).all()
games_data = session.query(Game).all()
offense_game_stats_data = session.query(Offense_Game_Stats).all()
defense_game_stats_data = session.query(Defense_Game_Stats).all()
special_game_stats_data = session.query(Special_Game_Stats).all()

## Loading into DataFrames

In [5]:
stadiums = pd.DataFrame(columns=['name', 'city', 'state', 'address', 'capacity', 'turf_type'])
for i in range(len(stadiums_data)):
    stadiums.loc[len(stadiums.index)] = [stadiums_data[i].name, stadiums_data[i].city, stadiums_data[i].state, stadiums_data[i].address, stadiums_data[i].capacity, stadiums_data[i].turf_type]
    
teams = pd.DataFrame(columns=['mascot', 'location', 'coach', 'home_city', 'home_state', 'division', 'wins', 'losses', 'standing'])
for i in range(len(teams_data)):
    teams.loc[len(teams.index)] = [teams_data[i].mascot, teams_data[i].location, teams_data[i].coach, teams_data[i].home_city, teams_data[i].home_state, teams_data[i].division, teams_data[i].wins, teams_data[i].losses, teams_data[i].standing]
    
players = pd.DataFrame(columns=['id', 'name', 'team', 'height', 'weight', 'age', 'position', 'jersey', 'birth_date', 'years_played', 'college'])
for i in range(len(players_data)):
    players.loc[len(players.index)] = [players_data[i].id, players_data[i].name, players_data[i].team, players_data[i].height, players_data[i].weight, players_data[i].age, players_data[i].position, players_data[i].jersey, players_data[i].birth_date, players_data[i].years_played, players_data[i].college]
    
seasons = pd.DataFrame(columns = ['year', 'start_data', 'end_date'])
for i in range(len(seasons_data)):
    seasons.loc[len(seasons.index)] = [seasons_data[i].year, seasons_data[i].start_date, seasons_data[i].end_date]
    
games = pd.DataFrame(columns = ['game_id', 'season_year', 'week', 'game_date', 'home_team', 'away_team', 'home_score', 'away_score'])
for i in range(len(games_data)):
    games.loc[len(games.index)] = [games_data[i].game_id, games_data[i].season_year, games_data[i].week, games_data[i].game_date, games_data[i].home_team, games_data[i].away_team, games_data[i].home_score, games_data[i].away_score] 
    
offense_game_stats = pd.DataFrame(columns = ['player_id','game_id','passing_completions','passing_attempts','passing_yards','rushing_attempts','rushing_yards fumbles'])
for i in range(len(offense_game_stats_data)):
    offense_game_stats.loc[len(offense_game_stats)] = [offense_game_stats_data[i].player_id, offense_game_stats_data[i].game_id, offense_game_stats_data[i].passing_completions, offense_game_stats_data[i].passing_attempts,offense_game_stats_data[i].passing_yards, offense_game_stats_data[i].rushing_attempts, offense_game_stats_data[i].fumbles]
    
defense_game_stats = pd.DataFrame(columns = ['player_id', 'game_id', 'tackles', 'sacks', 'fumbles_recovered', 'interceptions', 'passes_defended'])
for i in range(len(defense_game_stats_data)):
    defense_game_stats.loc[len(defense_game_stats)] = [defense_game_stats_data[i].player_id, defense_game_stats_data[i].game_id, defense_game_stats_data[i].tackles, defense_game_stats_data[i].sacks, defense_game_stats_data[i].fumbles_recovered, defense_game_stats_data[i].interceptions, defense_game_stats_data[i].passes_defended]

special_game_stats = pd.DataFrame(columns = ['player_id', 'game_id', 'field_goals', 'fg_attempts', 'extra_points', 'ep_attempts', 'punts', 'punt_yards'])
for i in range(len(special_game_stats_data)):
    special_game_stats.loc[len(special_game_stats)] = [special_game_stats_data[i].player_id, special_game_stats_data[i].game_id, special_game_stats_data[i].field_goals, special_game_stats_data[i].fg_attempts, special_game_stats_data[i].extra_points, special_game_stats_data[i].ep_attempts, special_game_stats_data[i].punts, special_game_stats_data[i].punt_yards]

# Queries

In [6]:
# Necessary libraries needed
from sqlalchemy import select, func, case

## Query 1
A Colt’s fan wants to learn more about the subtotals and grand totals of the offensive player’s yards run on the Colt’s team. Using rollup, list how many yards (rush yards and pass yards) each offensive player has gained on a team in a given year, and then how many rush yards and pass yards they have gained by each position in the 2023 season.

In [7]:
query = (session.query(Player.name, 
                      Player.position, 
                      func.sum(Offense_Game_Stats.passing_yards).label('pass_yards'), 
                      func.sum(Offense_Game_Stats.rushing_yards).label('rush_yards'))
         .join(Offense_Game_Stats, Player.id == Offense_Game_Stats.player_id).join(Game, Offense_Game_Stats.game_id == Game.game_id).filter(Player.team == 'Colts' and Game.season_year == 2023).group_by(func.rollup(Player.position, Player.name)).order_by(Player.position, Player.name))

results = query.all()

query_1_df = pd.DataFrame(results)

query_1_df

                   name position  pass_yards  rush_yards
0            Ryan Kelly        C           0           0
1         Wesley French        C           0           0
2                  None        C           0           0
3   Arlington Hambright        G           0           0
4          Ike Boettger        G           0           0
5         Jack Anderson        G           0           0
6            Josh Sills        G           0           0
7        Quenton Nelson        G           0           0
8                  None        G           0           0
9            Will Fries       OL           0           0
10                 None       OL           0           0
11   Anthony Richardson       QB         577         136
12   Gardner Minshew II       QB        3305         100
13         Sam Ehlinger       QB           0           0
14                 None       QB        3882         236
15            Evan Hull       RB           6           1
16            Jake Funk       RB          12          10
17      Jonathan Taylor       RB         153         741
18          Trey Sermon       RB          13         160
19            Zack Moss       RB         192         794
20                 None       RB         376        1706
21     Bernhard Raimann        T           0           0
22       Blake Freeland        T           0           0
23         Braden Smith        T           0           0
24                 None        T           0           0
25      Andrew Ogletree       TE         147           0
26        Kylen Granson       TE         368           2
27          Mo Alie-Cox       TE         161           0
28         Will Mallory       TE         207           0
29                 None       TE         883           2
30          Alec Pierce       WR         514           0
31        Amari Rodgers       WR           0           0
32      D.J. Montgomery       WR          56           0
33         Ethan Fernea       WR           0           0
34      Isaiah McKenzie       WR          82          14
35       Juwann Winfree       WR           0           0
36  Michael Pittman Jr.       WR        1152           0
37                 None       WR        1804          14
38                 None     None        6945        1958

## Query 2
A sport’s analyst wants to create a report about quarterbacks rank based on the number of yards thrown. List the rankings of the quarterback's names in ascending order (Having the rank 1 quarterback at the top) along with the total number of yards thrown for each quarterback.

In [8]:
# Subquery created named 'qb_yards' (Needed for the main query)
qb_yards = (
    session.query(
        Player.name,
        func.sum(Offense_Game_Stats.passing_yards).label('passing_yards')
    )
    .filter(
        Offense_Game_Stats.player_id == Player.id,
        Player.position == 'QB'
    )
    .group_by(Player.name)
    .subquery() 
)

# Query for the ranks of the QB's (Using now the qb_yards subquery)
query_2 = (
    session.query(
        qb_yards.c.name,
        func.rank().over(order_by=qb_yards.c.passing_yards.desc()).label('rank'),
        qb_yards.c.passing_yards
    )
)

results_2 = query_2.all()

query_2_df = pd.DataFrame(results_2)

query_2_df

                 name  rank  passing_yards
0      Tua Tagovailoa     1           4624
1          Jared Goff     2           4575
2        Dak Prescott     3           4516
3          Josh Allen     4           4306
4         Brock Purdy     5           4280
..                ...   ...            ...
79      Aaron Rodgers    77              0
80  Teddy Bridgewater    77              0
81    Nathan Peterman    77              0
82       Matt Barkley    77              0
83         Kyle Trask    77              0

[84 rows x 3 columns]

## Query 3
NFL defensive coaches want to analyze the key defensive player positions (linebacker, safety/defensive backs) on their opponents’ teams. Create a query that shows the total number of tackles performed by these positions by pivoting about the position names. Include the name of the team as well.

In [9]:
query_4 = session.query(
                        Player.team,
                        func.sum(Defense_Game_Stats.tackles).filter(Player.position.like('%LB')).label('line_backers'),
                        func.sum(Defense_Game_Stats.tackles).filter(
                        (Player.position.like('%S')) | (Player.position == 'DB')).label('safetys')
).join(
    Defense_Game_Stats, Player.id == Defense_Game_Stats.player_id
).group_by(
    Player.team
).order_by(
    Player.team
)

results_4 = query_4.all()

query_4_df = pd.DataFrame(results_4)

query_4_df

          team  line_backers  safetys
0        49ers           330      256
1        Bears           347      486
2      Bengals           288      246
3        Bills           303      206
4      Broncos           486      210
5       Browns           280      218
6   Buccaneers           460      326
7    Cardinals           430      261
8     Chargers           445      311
9       Chiefs           306      231
10       Colts           432      176
11  Commanders           346      288
12     Cowboys           219      332
13    Dolphins           443      219
14      Eagles           287      351
15     Falcons           382      296
16      Giants           373      286
17     Jaguars           464      233
18        Jets           404      218
19       Lions           358      265
20     Packers           494      242
21    Panthers           384      246
22    Patriots           406      397
23     Raiders           312      175
24        Rams           421      416
25      Ravens           488      330
26      Saints           273      207
27    Seahawks           485      278
28    Steelers           454      268
29      Texans           377      215
30      Titans           447      123
31     Vikings           422      376

## Query 4
NFL fans want to know about old players (above the age of 30) in the NFL league who play on key special teams positions (kicker, punter, kick returner, punt returner). Find players that play in the current season as a kicker (K), punter (P), kick returner (KR) or punt returner (PR) and who are over the age of 30. Include the age of these player’s as well.

In [10]:
# Subquery named 'special_player_age' querying for special team's players above the age of 30
special_player_age = (
    session.query(
        Player.name,
        Player.age,
        Player.position
    )
    .join(
        Special_Game_Stats,
        Player.id == Special_Game_Stats.player_id
    )
    .filter(
        Player.age > 30
    )
    .subquery()
)

# The query we want to perfrom (using the special_player_age as a subquery)
query_4 = (
    session.query(
        special_player_age.c.name,
        special_player_age.c.age
    ).distinct()
    .filter(
        special_player_age.c.position.in_(['K', 'P', 'KR', 'PR'])
    )
    .order_by(special_player_age.c.age)
)

results4 = query_4.all()

query_4_df = pd.DataFrame(results4)

query_4_df

                name age
0       Arryn Siposs  31
1   Cameron Johnston  31
2   Mitch Wishnowsky  31
3          Brad Wing  32
4    Brandon McManus  32
5       Cairo Santos  32
6      Chris Boswell  32
7        Jason Myers  32
8     Dustin Hopkins  33
9      Johnny Hekker  33
10        Sam Martin  33
11         Tress Way  33
12       Brett Maher  34
13     Justin Tucker  34
14     Randy Bullock  34
15       Bryan Anger  35
16       Graham Gano  36
17     Greg Zuerlein  36
18   Thomas Morstead  37
19      Mason Crosby  39
20       Matt Prater  39
21         Nick Folk  39

## Query 5
A Colts fan wants to know what teams the Colts have won against in the 2023 season. Write a query that lists every team the Colts have won against and the date their game occurred.

In [11]:
query_5 = (
    session.query(
        Game.game_date,
        case(
            (
                (Game.home_team == 'Colts') & (Game.home_score > Game.away_score),
                Game.away_team
            ),
            (
                (Game.away_team == 'Colts') & (Game.away_score > Game.home_score),
                Game.home_team
            ),
            else_=None
        ).label('wins')
    )
    .distinct()
    .filter(
        ((Game.home_team == 'Colts') & (Game.home_score > Game.away_score)) |
        ((Game.away_team == 'Colts') & (Game.away_score > Game.home_score)),
        Game.season_year == 2023
    )
)

results_5 = query_5.all()

query_5_df = pd.DataFrame(results_5)

query_5_df

    game_date        wins
0  2023-09-17      Texans
1  2023-09-24      Ravens
2  2023-10-08      Titans
3  2023-11-05    Panthers
4  2023-11-12    Patriots
5  2023-11-26  Buccaneers
6  2023-12-03      Titans
7  2023-12-16    Steelers
8  2023-12-31     Raiders

## Query 6
A sports analyst regularly needs to access the data from previous year’s SuperBowls for comparison. Create a function that accepts a season year as input and outputs the data for that season’s superbowl including: Superbowl number, participating teams, and each team’s score.

In [12]:
def superbowl_info(input_year):
    superbowl_num = input_year - 1965
    superbowls_df = games[games['week'] == 'SuperBowl']
    
    df = pd.DataFrame(columns=['SuperBowl_Num', 'team1', 'team2', 'team1_score', 'team2_score'])
    
    df.loc[0] = {
        'SuperBowl_Num': superbowl_num,
        'team1': superbowls_df[superbowls_df['season_year'] == input_year]['home_team'].values[0],
        'team2': superbowls_df[superbowls_df['season_year'] == input_year]['away_team'].values[0],
        'team1_score': superbowls_df[superbowls_df['season_year'] == input_year]['home_score'].values[0],
        'team2_score': superbowls_df[superbowls_df['season_year'] == input_year]['away_score'].values[0]
    }
    
    return df

query_6_df = superbowl_info(2023)
query_6_df

   SuperBowl_Num  team1   team2  team1_score  team2_score
0             58  49ers  Chiefs           22           25

## Query 7
An offensive NFL coach wants to know more about the quarterback Patrick Mahomes' progress in cumulative passing yards. Create a window showing the progress of Patrick Mahomes by cumulative passing yards thrown each game date he plays in the current regular season.

In [13]:
# Trim to single player and join relevant tables
query_7_df = players[players['name'] == 'Patrick Mahomes']
query_7_df = pd.merge(query_7_df, offense_game_stats, left_on='id', right_on='player_id')
query_7_df = pd.merge(query_7_df, games, on='game_id')

# Trim to relevant columns
query_7_df = query_7_df[['name', 'game_date', 'passing_yards']]

for i in range(len(query_7_df)):
    try:
        query_7_df.at[i, 'passing_yards'] = query_7_df.loc[i]['passing_yards'] + query_7_df.loc[i-1]['passing_yards']
    except KeyError:    # First index, i-1 = 0-1 = -1
        query_7_df.at[i, 'passing_yards'] = query_7_df.loc[i]['passing_yards']
    
query_7_df

               name   game_date  passing_yards
0   Patrick Mahomes  2023-09-07            226
1   Patrick Mahomes  2023-09-17            531
2   Patrick Mahomes  2023-09-24            803
3   Patrick Mahomes  2023-10-01           1006
4   Patrick Mahomes  2023-10-08           1287
5   Patrick Mahomes  2023-10-12           1593
6   Patrick Mahomes  2023-10-22           2017
7   Patrick Mahomes  2023-10-29           2257
8   Patrick Mahomes  2023-11-05           2442
9   Patrick Mahomes  2023-11-20           2619
10  Patrick Mahomes  2023-11-26           2917
11  Patrick Mahomes  2023-12-03           3127
12  Patrick Mahomes  2023-12-10           3398
13  Patrick Mahomes  2023-12-17           3703
14  Patrick Mahomes  2023-12-25           3938
15  Patrick Mahomes  2023-12-31           4183

## Query 8
 A new fan wants to choose a favorite team. He wants a team that frequently makes it to the AFC or NFC conference championship game, meaning they frequently have good seasons. Write a query that will display the home and away teams for the conference championship games, organized by year and which conference they belonged to.

In [14]:
def final_four_teams_by_year():
    df = games[games['week'] == 'ConfChamp']
    df = pd.merge(df, teams, left_on='home_team', right_on='mascot')
    df = df.rename(columns={'division': 'conference'})
    df['conference'] = df['conference'].str.slice(0,3)
    df = df.sort_values(by=['season_year', 'conference'], ascending=[False,True]).reset_index(drop=True)
    return df[['season_year', 'home_team', 'away_team', 'conference']]

# Calling and displaying the view
query_8_df = final_four_teams_by_year()
query_8_df

    season_year   home_team away_team conference
0          2023      Ravens    Chiefs        AFC
1          2023       49ers     Lions        NFC
2          2022      Chiefs   Bengals        AFC
3          2022      Eagles     49ers        NFC
4          2021      Chiefs   Bengals        AFC
..          ...         ...       ...        ...
103        1972  Commanders   Cowboys        NFC
104        1971    Dolphins     Colts        AFC
105        1971     Cowboys     49ers        NFC
106        1970       Colts   Raiders        AFC
107        1970       49ers   Cowboys        NFC

[108 rows x 4 columns]

## Query 9
The fan from the above question now wants to move to the location of the stadium that has hosted the most conference championship games. Rank the stadiums by the number of conference championship games they have hosted. Include their city and state.

In [15]:
df = pd.merge(final_four_teams_by_year(), teams, left_on='home_team', right_on='mascot')
df['home_location'] = df['home_city'] + ', ' + df['home_state']
stadiums['location'] = stadiums['city'] + ', ' + stadiums['state']
df = pd.merge(df, stadiums, left_on='home_location', right_on='location')

query_9_df = pd.DataFrame(columns=['stadium_rank', 'name', 'playoff_count', 'city', 'state'])

for stadium in df['name'].unique():
    playoff_count = df['name'].value_counts()[stadium]
    query_9_df.loc[len(query_9_df)] = { 
        'name': stadium, 
        'playoff_count': playoff_count,
        'city': stadiums[stadiums['name'] == stadium]['city'].values[0],
        'state': stadiums[stadiums['name'] == stadium]['state'].values[0]
    }

# Sort by playoff_count
query_9_df = query_9_df.sort_values(by=['playoff_count'], ascending=False).reset_index(drop=True)

# Rank
next_rank = 1
for i in range(len(query_9_df)):
    try:
        if query_9_df.iloc[i]['playoff_count'] == query_9_df.iloc[i-1]['playoff_count']:
            query_9_df.at[i,'stadium_rank'] = query_9_df.iloc[i-1]['stadium_rank']
        else:
            query_9_df.at[i,'stadium_rank'] = next_rank
            next_rank += 1
    except IndexError:  # First entry: i-1 = -1
        query_9_df.at[i,'stadium_rank'] = next_rank
        next_rank += 1
query_9_df = query_9_df.astype({'stadium_rank': 'int32'})
query_9_df

query_9_df

,stadium_rank,name,playoff_count,city,state
0,1,Acrisure Stadium,11,Pittsburgh,PA
1,1,Levi's Stadium,11,Santa Clara,CA
2,2,Gillette Stadium,8,Foxborough,MA
3,3,Empower Field at Mile High,7,Denver,CO
4,4,Lincoln Financial Field,6,Philadelphia,PA
5,4,SoFi Stadium,6,Inglewood,CA
6,4,Hard Rock Stadium,6,Miami Gardens,FL
7,5,Arrowhead Stadium,5,Kansas City,MO
8,5,AT&T Stadium,5,Arlington,TX
9,5,FedEx Field,5,Landover,MD
10,5,Allegiant Stadium,5,Paradise,NV
11,6,Soldier Field,4,Chicago,IL
12,7,Lucas Oil Stadium,3,Indianapolis,IN
13,7,U.S. Bank Stadium,3,Minneapolis,MN
14,7,Lumen Field,3,Seattle,WA
15,7,Lambeau Field,3,Green Bay,WI
16,7,Highmark Stadium,3,Orchard Park,NY
17,8,Paycor Stadium,2,Cincinnati,OH
18,8,MetLife Stadium,2,East Rutherford,NJ
19,8,Mercedes-Benz Stadium,2,Atlanta,GA
20,8,Caesars Superdome,2,New Orleans,LA
21,9,Cleveland Browns Stadium,1,Cleveland,OH
22,9,M&T Bank Stadium,1,Baltimore,MD
23,9,EverBank Stadium,1,Jacksonville,FL
24,9,State Farm Stadium,1,Glendale,AZ
25,9,Bank of America Stadium,1,Charlotte,NC
26,9,Raymond James Stadium,1,Tampa,FL

## Query 10
A common point of pride for an NFL team is how many Super Bowl championship games they have won throughout their history. Create a query that ranks teams by Super Bowl wins, excluding teams that have not won a SuperBowl.

In [16]:
# Only get the Super Bowl games
superbowls_df = games.loc[games['week'] == 'SuperBowl']

# Only get the winning teams
champions_df = pd.DataFrame(columns=['year', 'team'])
for i in range(len(superbowls_df)):
    if superbowls_df.iloc[i]['home_score'] > superbowls_df.iloc[i]['away_score']:
        champions_df.loc[len(champions_df)] = {
            'year': superbowls_df.iloc[i]['season_year'], 
            'team': superbowls_df.iloc[i]['home_team']
        }
    else:
        champions_df.loc[len(champions_df)] = {
            'year': superbowls_df.iloc[i]['season_year'], 
            'team': superbowls_df.iloc[i]['away_team']
        }

# Fill the dataframe with teams and wins
query_10_df = pd.DataFrame(columns=['rank', 'team', 'superbowl_wins'])
for team in champions_df['team'].unique():
    wins = champions_df['team'].value_counts()[team]
    query_10_df.loc[len(query_10_df)] = {
        'team': team,
        'superbowl_wins': wins
    }
    
# Sort by SuperBowl wins
query_10_df = query_10_df.sort_values(by=['superbowl_wins'], ascending=False).reset_index(drop=True)

# Rank
next_rank = 1
for i in range(len(query_10_df)):
    try:
        if query_10_df.iloc[i]['superbowl_wins'] == query_10_df.iloc[i-1]['superbowl_wins']:
            query_10_df.at[i,'rank'] = query_10_df.iloc[i-1]['rank']
        else:
            query_10_df.at[i,'rank'] = next_rank
            next_rank += 1
    except IndexError:  # First entry: i-1 = -1
        query_10_df.at[i,'rank'] = next_rank
        next_rank += 1
query_10_df = query_10_df.astype({'rank': 'int32'})
query_10_df

    rank        team  superbowl_wins
0      1    Steelers               6
1      1    Patriots               6
2      2       49ers               5
3      2     Cowboys               5
4      3      Giants               4
5      3     Packers               4
6      3      Chiefs               4
7      4     Raiders               3
8      4  Commanders               3
9      4     Broncos               3
10     5    Dolphins               2
11     5       Colts               2
12     5        Rams               2
13     5      Ravens               2
14     5  Buccaneers               2
15     6      Saints               1
16     6    Seahawks               1
17     6       Bears               1
18     6        Jets               1
19     6      Eagles               1